* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: arial,sans-serif;
    background: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    max-height: 100%;
}

main {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    flex: 1;
}

.menu {
    align-self: flex-end;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    margin-top: 20px;
    padding: 0 30px;

    font-size: 13px;
    line-height: 24px;
}

.menu__part {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.menu__item {
    padding-left: 15px;
}

.menu__button-menu, .menu__all {
    display: none;
}

.menu__link {
    outline: none;
    vertical-align: middle;

    color: rgba(0, 0, 0, 0.87);
    text-decoration-line: none;
    text-decoration-color: black;
    display: inline-block;
}

.menu__link--mail:hover, .menu__link--images:hover {
    text-decoration-line: underline;
    transition: text-decoration-line 0.3s;
}


.menu__link--applications {
    background-image: url("images/icons.png");
    background-position: -132px -38px;
    background-size: 528px 68px;
    opacity: 0.55;

    width: 30px;
    height: 30px;
}

.menu__link--applications:hover {
    opacity: 1;
    transition: opacity 0.3s;
}


.menu__link--entry {
    padding: 0 12px;
    line-height: 28px;

    background-image: -webkit-linear-gradient(top,#4387fd,#4683ea);
    border: 1px solid rgb(66, 133, 244);
    border-radius: 2px;

    font-weight: bold;
    color: white;
}

.menu__link--entry:hover {
    cursor: default;
}

/*   Logo   */

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: fit-content; /*  мин высота по содержимому*/
    text-align: center;
    margin-bottom: 20px;

}

.logo__img {
    display: block;
    padding-top: 157px;
    width: 272px;
}


/* search */


.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 18px;
    height: 44px;

    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 2px;
    color: rgb(34, 34, 34);
}

.search:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 0.3s;
}

.search__field {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    height: 44px;
    width: 488px;
    padding: 5px 9px 0 19px;
}

.search__field input {
    width: 100%;
    height: 34px;
    line-height: 34px;
    text-align: start;
    border: none;
}

.search__field input:focus {
    outline: none;
}



.search__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding: 0 8px;
    line-height: 24px;
}

.search__button {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 44px;
    padding:  0 8px;

    background: none;
    border: none;
}

.search__button--loupe {
    display: none;
}

.search__button-icon {
    display: inline-block;
}

.search__button .search__button-icon--tool {
    visibility: hidden;

    position: absolute;
    top: 50px;
    /*left: -50%;*/
    padding: 5px;

    background-color: #2D2D2D;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;

    text-align: center;
    border: 1px solid white;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.08);
    white-space: nowrap;
    transform: translate(-58%, 0%);
}


.search__button:hover .search__button-icon--tool {
    visibility: visible;
}

.search__button .search__button-icon--tool::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;

    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #2D2D2D transparent;
}


.search__button-icon--screen-keyboard  {
    width: 20px;
    height: 11px;

    background-image: url(images/keyboard.gif);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    opacity: 0.6;
}

.search__button--screen-keyboard:hover {
    cursor: pointer;
}
.search__button--screen-keyboard:hover .search__button-icon--screen-keyboard{
    opacity: 1;
    transition: opacity 0.3s;
}

.search__button-icon--voice-search {
    width: 20px;
    height: 22px;

    background-image: url(images/microphone.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
}

.search__button--voice-search:hover {
    cursor: pointer;
}



/* buttons */

.buttons {
    width: 571px;
    height: 58px;

    text-align: center;
}

.buttons__item {
    margin: 11px 4px;
    padding:  10px 16px;

    background: rgb(242, 242, 242);
    border: 1px solid rgb(242, 242, 242);
    border-radius: 2px;

    color: rgb(117, 117, 117);
    font-weight: bold;
}

.buttons__item:hover {
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;

    transition: all 0.3s;
}

.language {
    text-align: center;
    width: 100%;
    line-height: 28px;
    font-size: 13px;

    margin-bottom: 24px;
}

.language div {
    display: inline-block;
}

.language__link {
    padding: 0 3px;
    text-decoration: none;
    display: inline-block;
}

.language__link:hover {
    text-decoration: underline;
    transition: text-decoration 0.3s;
}



/* footer */

footer {
    width: 100%;
}

.country {
    padding: 0 30px;
    height: 41px;
    width: 100%;

    background: #F2F2F2;
    color: rgba(0,0,0,.54);
    font-size: 15px;
    line-height: 40px;

    border-top: 1px solid rgb(228, 228, 228);

}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    background: #F2F2F2;
    color: rgb(102, 102, 102);
    font-size: 13px;
    padding-right: 30px;
    line-height: 40px;

    border-top: 1px solid rgb(228, 228, 228);
}

.info__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    height: 41px;
}

.info__item {
    padding-left: 30px;
    color: rgb(102, 102, 102);
    text-decoration: none;
}

.info__item:hover {
    text-decoration: underline;
    transition: text-decoration 0.3s;
}
