@media (max-width: 1024px) {

    /* side-menu */

    .side-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);

        font-family: Roboto, HelveticaNeue, Arial, sans-serif;
        font-size: 13px;
        transition: all 0.2s ease;
        z-index: 199;
    }

    .side-menu__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        width: 250px;
        height: 100%;
        position: fixed;
        top: 0;
        left: -250px;

        background: rgb(255, 255, 255);
        padding-top: 15px;

        transition: all 0.5s ease;

        z-index: 200;
    }

    .side-menu__item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        height: 48px;
        width: 100%;

        text-decoration: none;
    }

    .side-menu__item--logo {
        width: 100%;
        height: 44px;
        margin-left: 15px;
    }

    .side-menu__item--logo img {
        width: 92px;
        height: 44px;
        padding-bottom: 8px;
    }

    .side-menu__item--icon {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        width: 39px;
        height: 48px;
        padding-left: 15px;

        color: rgb(85, 26, 139);
        font-size: 16px;
    }

    .side-menu__item--icon img {
        width: 24px;
        height: 24px;
    }

    .side-menu__item--text {
        padding-left: 15px;

        color: rgba(0, 0, 0, 0.54);
        font-size: 16px;
        vertical-align: middle;
    }

    .side-menu__strip {
        width: 100%;
        height: 1px;
        margin: 5px 0;

        background: rgb(225, 225, 225);
        font-size: 16px;
    }


    .side-menu--visible {
        display: block;
    }

    .side-menu__content--opened {
        transform: matrix(1, 0, 0, 1, 250, 0);
    }

    .side-menu__content--closed {
        transform: matrix(1, 0, 0, 1, -250, 0);
    }

    .side-menu--transparent {
        background: rgba(0, 0, 0, 0);
    }


    .menu {
        width: 100%;
        justify-content: space-between;
        margin: 0;
        padding: 0;

        font-family: Roboto, HelveticaNeue, Arial, sans-serif;
    }

    .menu__item {
        margin: 0;
        padding-left: 0px;
    }

    .menu__item--all, .menu__item--images {
        height: 48px;
        padding: 0 8px;
        margin-right: 8px;
    }


    .menu__item--mail {
        display: none;
    }

    .menu__button-menu, .menu__item--all {
        display: inline-block;
    }

    .menu__item--all {
        border-bottom: 2px solid rgb(66, 133, 244);
        color: rgb(66, 133, 244);
    }


    .menu__part--1 .menu__link {
        font-size: 12px;
        font-weight: bold;
        line-height: 44px;
        text-transform: uppercase;
    }

    .menu__button-menu {
        width: 56px;
        height: 51px;
        padding: 12px 16px;
    }

    .menu__link--images {
        color: rgb(117, 117, 117);
    }

    .menu__link--all {
        color: rgb(66, 133, 244);
    }


    .menu__part--2 {
        padding: 0 4px;
    }

    .menu__link--entry {
        margin-right: 8px;

        background-image: none;
        background-color:  rgb(248, 248, 248);
        border: 1px solid rgb(198, 198, 198);
        border-radius: 2px;
        color: rgb(102, 102, 102);
        font-family: Roboto, HelveticaNeue, Arial, sans-serif;
        font-size: 13px;
        font-weight: normal;
        white-space: nowrap;
    }

    .menu__link--applications {
        margin: 5px 9px 5px 5px;
    }



    /* logo */

    .logo {
        margin-top: 36px;
        margin-bottom: 18px;
    }

    .logo__img {
        margin: 8px 0;
        width: 160px;
        height: 56px;
        padding: 0;
    }



    /* search-form */

    .search {
        height: 40px;
        padding: 7px 0 6px 0;
        margin: 0;
        margin-bottom: 8px;

        border: 1px solid rgb(217, 217, 217);
        border-radius: 8px;
        box-shadow: none;
    }

    .search__buttons {
        padding: 0;
    }

    .search__field {
        width: 695px;
        height: 25px;
        padding: 0 0 0 16px;
    }

    .search__field input {
        width: 100%;
        height: 25px;

        line-height: 34px;
        text-align: start;
        border: none;
    }

    .search__button--screen-keyboard, .search__button--voice-search {
        display: none;
    }

    .search__button--loupe {
        display: inline-block;
        width: 40px;
        height: 39px;

        background: rgb(59, 120, 231);
        border: 1px solid rgb(51, 103, 214);
        border-radius: 0 8px 8px 0;

        color: white;
    }
    
    .search__button-icon--loupe {
        width: 24px;
        height: 24px;
    }

    .buttons {
        display: none;
    }

    .language {
        width: 100%;
        margin: 24px 0;
    }

    .country {
        padding-left: 10px;
    }


    .info {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .info__item--confidentiality {
        order: 2;
    }

    .info__item--conditions {
        order: 3;
    }

    .info__item--settings {
        order: 1;
    }
}



@media (max-width: 750px) {
    .search-form {
        width: 100%;
        padding: 0 10px;
    }
    .search__field {
        width: 100%;
    }

    .info__item {
        padding-left: 15px;
    }
}